*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(53, 44, 61);
}
nav{
    padding: 20px;
    text-align: right;
}
a{
    padding-right: 10px;
}
a:visited{
    color: hsl(249, 91%, 48%);
}
a:hover{
    color: hsl(9, 83%, 37%);
}
a:active{
    color: rgb(236, 236, 47);
}
main{ 
    display: flex;
    place-items: center;
    height: 100vh;
    
}
.divs{
    width: 450px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "a a b"
    "c d d"
    "c e e"
    ;
    gap: 10px;
}
main div{
    padding: 40px;
}
.a{
    /* padding: 20px; */
    background: rgb(143, 43, 6);
    grid-area: a;
}
.b{
    background-color: darkorange;
    grid-area: b;

}
.c{
    background-color: rgb(2, 107, 2);
    grid-area: c;

}
.d{
    background-color: rgb(82, 82, 151);
    grid-area: d;

}
.e{
    background-color: rgb(82, 82, 151);
    grid-area: e;

} 